#container {
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 50px;
}

.header {
  display: flex;
  justify-content: center;
  height: 120px;
}
.gameboardDiv {
  display: flex;
  justify-content: center;
}
.cell {
  border: grey solid 0.5px;
  background-color: lightblue;
}

.cell.ship {
  border-color: white 1px solid;
  background-color: black;
}

.cell.hit.ship {
  background-color: red;
}

.cell.hit:not(.ship) {
  background-color: white;
}

.board {
  display: grid;
  grid-template-columns: repeat(10, 50px);
  margin: 30px;
}

.preview-valid {
  background-color: rgba(0, 255, 0, 0.5) !important;
}

.preview-invalid {
  background-color: rgba(255, 0, 0, 0.5) !important;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.playerMessageSpace,
.compMessageSpace {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 30px;
}
